<div class="container-fluid">
  <div class="row col-sm-4" >
    <div class="card">
      <img src="https://www.recruiter.co.uk/sites/default/files/media/image/2017/game-of-thrones-chbo.jpg" 
      alt="book details" class="card-img-top">
      <div class="card-body">
        <h4> {{ book.name }}  </h4>
          <p>Author: {{  book.authors }}</p>
          <p>ISBN: {{ book.isbn }}</p>
          <p>NumberOfPages: {{ book.numberOfPages }}</p>
          <p>Publisher: {{ book.publisher }}</p>
          <p>Released Date: {{ book.released }}</p>
          <p>Country: {{ book.country }} </p>
      </div>
    </div>
  </div>
</div>
