<!-- Image Div -->
<div class="container-fluid img"></div>

<div class="container pt-5">
  <div class="row">

    <div class="col-sm-4">
      <div class="card">
        <img [src]="bookCover" alt="BookCover" class="card-img-top">
        <div class="card-body">
          <h4>Game of Thrones - Book<a href=""></a></h4>
          <p> {{bookCoverText}}/p>          
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="card">
        <img [src]="characterCover" alt="CharacterCover" class="card-img-top">
        <div class="card-body">
          <h4>Game of Thrones - Characters<a href=""></a></h4>
          <p>{{   characterCoverText }}</p>
        </div>
      </div>
      
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img [src]="houseCover" alt="HouseCover" class="card-img-top">
        <div class="card-body">
          <h4>Game of Thrones - House<a href=""></a></h4>
          <p>{{ housecoverText }}</p>
        </div>
      </div>
    </div>
  </div>
</div>





